<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cardhdr">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_ID" jdbcType="CHAR" property="fId" />
    <result column="F_NAME" jdbcType="CHAR" property="fName" />
    <result column="F_AREAID" jdbcType="CHAR" property="fAreaid" />
    <result column="F_AREAIDX" jdbcType="INTEGER" property="fAreaidx" />
    <result column="F_STAFFIDX" jdbcType="INTEGER" property="fStaffidx" />
    <result column="F_TYPE" jdbcType="CHAR" property="fType" />
    <result column="F_ISMINE" jdbcType="CHAR" property="fIsmine" />
    <result column="F_PAD1" jdbcType="CHAR" property="fPad1" />
  </resultMap>
  <sql id="Base_Column_List">
    F_ID, F_NAME, F_AREAID, F_AREAIDX, F_STAFFIDX, F_TYPE, F_ISMINE, F_PAD1
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cardhdr
    <where>
      <if test="fId != null">
        F_ID = #{fId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_cardhdr
    where F_ID = #{fId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="map">
    insert into t_cardhdr (F_ID, F_NAME, F_AREAID, F_AREAIDX, 
      F_STAFFIDX, F_TYPE, F_ISMINE, 
      F_PAD1)
    values (#{fId,jdbcType=CHAR}, #{fName,jdbcType=CHAR}, #{fAreaid,jdbcType=CHAR}, #{fAreaidx,jdbcType=INTEGER}, 
      #{fStaffidx,jdbcType=INTEGER}, #{fType,jdbcType=CHAR}, #{fIsmine,jdbcType=CHAR}, 
      #{fPad1,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_cardhdr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fName != null">
        F_NAME,
      </if>
      <if test="fAreaid != null">
        F_AREAID,
      </if>
      <if test="fAreaidx != null">
        F_AREAIDX,
      </if>
      <if test="fStaffidx != null">
        F_STAFFIDX,
      </if>
      <if test="fType != null">
        F_TYPE,
      </if>
      <if test="fIsmine != null">
        F_ISMINE,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=CHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=CHAR},
      </if>
      <if test="fAreaid != null">
        #{fAreaid,jdbcType=CHAR},
      </if>
      <if test="fAreaidx != null">
        #{fAreaidx,jdbcType=INTEGER},
      </if>
      <if test="fStaffidx != null">
        #{fStaffidx,jdbcType=INTEGER},
      </if>
      <if test="fType != null">
        #{fType,jdbcType=CHAR},
      </if>
      <if test="fIsmine != null">
        #{fIsmine,jdbcType=CHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_cardhdr
    <set>
      <if test="fName != null">
        F_NAME = #{fName,jdbcType=CHAR},
      </if>
      <if test="fAreaid != null">
        F_AREAID = #{fAreaid,jdbcType=CHAR},
      </if>
      <if test="fAreaidx != null">
        F_AREAIDX = #{fAreaidx,jdbcType=INTEGER},
      </if>
      <if test="fStaffidx != null">
        F_STAFFIDX = #{fStaffidx,jdbcType=INTEGER},
      </if>
      <if test="fType != null">
        F_TYPE = #{fType,jdbcType=CHAR},
      </if>
      <if test="fIsmine != null">
        F_ISMINE = #{fIsmine,jdbcType=CHAR},
      </if>
      <if test="fPad1 != null">
        F_PAD1 = #{fPad1,jdbcType=CHAR},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update t_cardhdr
    set F_NAME = #{fName,jdbcType=CHAR},
      F_AREAID = #{fAreaid,jdbcType=CHAR},
      F_AREAIDX = #{fAreaidx,jdbcType=INTEGER},
      F_STAFFIDX = #{fStaffidx,jdbcType=INTEGER},
      F_TYPE = #{fType,jdbcType=CHAR},
      F_ISMINE = #{fIsmine,jdbcType=CHAR},
      F_PAD1 = #{fPad1,jdbcType=CHAR}
    where F_ID = #{fId,jdbcType=CHAR}
  </update>

</mapper>
