<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cfgparams">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_SYSID" jdbcType="VARCHAR" property="fSysid" />
    <id column="F_KEY" jdbcType="VARCHAR" property="fKey" />
    <result column="F_TYPE" jdbcType="VARCHAR" property="fType" />
    <result column="F_NAME" jdbcType="VARCHAR" property="fName" />
    <result column="F_TIPS" jdbcType="VARCHAR" property="fTips" />
    <result column="F_SOURCE" jdbcType="VARCHAR" property="fSource" />
    <result column="F_SHOW" jdbcType="VARCHAR" property="fShow" />
    <result column="F_LEVEL" jdbcType="VARCHAR" property="fLevel" />
    <result column="F_ORDER" jdbcType="INTEGER" property="fOrder" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />
  </resultMap>
  <sql id="Base_Column_List">
    F_SYSID, F_KEY, F_TYPE, F_NAME, F_TIPS, F_SOURCE, F_SHOW, F_LEVEL, F_ORDER, F_PAD1
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cfgparams
    where F_SYSID = #{fSysid,jdbcType=VARCHAR}
      and F_KEY = #{fKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_cfgparams
    where F_SYSID = #{fSysid,jdbcType=VARCHAR}
      and F_KEY = #{fKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="map">
    insert into t_cfgparams (F_SYSID, F_KEY, F_TYPE, 
      F_NAME, F_TIPS, F_SOURCE, 
      F_SHOW, F_LEVEL, F_ORDER, 
      F_PAD1)
    values (#{fSysid,jdbcType=VARCHAR}, #{fKey,jdbcType=VARCHAR}, #{fType,jdbcType=VARCHAR}, 
      #{fName,jdbcType=VARCHAR}, #{fTips,jdbcType=VARCHAR}, #{fSource,jdbcType=VARCHAR}, 
      #{fShow,jdbcType=VARCHAR}, #{fLevel,jdbcType=VARCHAR}, #{fOrder,jdbcType=INTEGER}, 
      #{fPad1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_cfgparams
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fSysid != null">
        F_SYSID,
      </if>
      <if test="fKey != null">
        F_KEY,
      </if>
      <if test="fType != null">
        F_TYPE,
      </if>
      <if test="fName != null">
        F_NAME,
      </if>
      <if test="fTips != null">
        F_TIPS,
      </if>
      <if test="fSource != null">
        F_SOURCE,
      </if>
      <if test="fShow != null">
        F_SHOW,
      </if>
      <if test="fLevel != null">
        F_LEVEL,
      </if>
      <if test="fOrder != null">
        F_ORDER,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fSysid != null">
        #{fSysid,jdbcType=VARCHAR},
      </if>
      <if test="fKey != null">
        #{fKey,jdbcType=VARCHAR},
      </if>
      <if test="fType != null">
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fTips != null">
        #{fTips,jdbcType=VARCHAR},
      </if>
      <if test="fSource != null">
        #{fSource,jdbcType=VARCHAR},
      </if>
      <if test="fShow != null">
        #{fShow,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fOrder != null">
        #{fOrder,jdbcType=INTEGER},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_cfgparams
    <set>
      <if test="fType != null">
        F_TYPE = #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        F_NAME = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fTips != null">
        F_TIPS = #{fTips,jdbcType=VARCHAR},
      </if>
      <if test="fSource != null">
        F_SOURCE = #{fSource,jdbcType=VARCHAR},
      </if>
      <if test="fShow != null">
        F_SHOW = #{fShow,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        F_LEVEL = #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fOrder != null">
        F_ORDER = #{fOrder,jdbcType=INTEGER},
      </if>
      <if test="fPad1 != null">
        F_PAD1 = #{fPad1,jdbcType=VARCHAR},
      </if>
    </set>
    where F_SYSID = #{fSysid,jdbcType=VARCHAR}
      and F_KEY = #{fKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update t_cfgparams
    set F_TYPE = #{fType,jdbcType=VARCHAR},
      F_NAME = #{fName,jdbcType=VARCHAR},
      F_TIPS = #{fTips,jdbcType=VARCHAR},
      F_SOURCE = #{fSource,jdbcType=VARCHAR},
      F_SHOW = #{fShow,jdbcType=VARCHAR},
      F_LEVEL = #{fLevel,jdbcType=VARCHAR},
      F_ORDER = #{fOrder,jdbcType=INTEGER},
      F_PAD1 = #{fPad1,jdbcType=VARCHAR}
    where F_SYSID = #{fSysid,jdbcType=VARCHAR}
      and F_KEY = #{fKey,jdbcType=VARCHAR}
  </update>

</mapper>
