<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devtypetx">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_TYPE" jdbcType="VARCHAR" property="fType" />
    <result column="F_ID" jdbcType="VARCHAR" property="fId" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_devtypetx (F_TYPE, F_ID, F_PAD1
      )
    values (#{fType,jdbcType=VARCHAR}, #{fId,jdbcType=VARCHAR}, #{fPad1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_devtypetx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fType != null">
        F_TYPE,
      </if>
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fType != null">
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>
