<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elog">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_DATE" jdbcType="VARCHAR" property="fDate" />
    <result column="F_TIME" jdbcType="VARCHAR" property="fTime" />
    <result column="F_DEVID" jdbcType="VARCHAR" property="fDevid" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_elog (F_DATE, F_TIME, F_DEVID, 
      F_PAD1)
    values (#{fDate,jdbcType=VARCHAR}, #{fTime,jdbcType=VARCHAR}, #{fDevid,jdbcType=VARCHAR}, 
      #{fPad1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_elog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        F_DATE,
      </if>
      <if test="fTime != null">
        F_TIME,
      </if>
      <if test="fDevid != null">
        F_DEVID,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        #{fDate,jdbcType=VARCHAR},
      </if>
      <if test="fTime != null">
        #{fTime,jdbcType=VARCHAR},
      </if>
      <if test="fDevid != null">
        #{fDevid,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>
