<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="factory">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_ID" jdbcType="CHAR" property="fId" />
    <result column="F_NAME" jdbcType="CHAR" property="fName" />
    <result column="F_ADDR" jdbcType="CHAR" property="fAddr" />
    <result column="F_MAN" jdbcType="CHAR" property="fMan" />
    <result column="F_TEL" jdbcType="CHAR" property="fTel" />
    <result column="F_MOBILE" jdbcType="CHAR" property="fMobile" />
    <result column="F_BP" jdbcType="CHAR" property="fBp" />
    <result column="F_EMAIL" jdbcType="CHAR" property="fEmail" />
    <result column="F_PAD1" jdbcType="CHAR" property="fPad1" />
  </resultMap>
  <sql id="Base_Column_List">
    F_ID, F_NAME, F_ADDR, F_MAN, F_TEL, F_MOBILE, F_BP, F_EMAIL, F_PAD1
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_factory
    <if test="fId != null">
    where F_ID = #{fId,jdbcType=CHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_factory
    where F_ID = #{fId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="map">
    insert into t_factory (F_ID, F_NAME, F_ADDR, F_MAN, 
      F_TEL, F_MOBILE, F_BP, F_EMAIL, 
      F_PAD1)
    values (#{fId,jdbcType=CHAR}, #{fName,jdbcType=CHAR}, #{fAddr,jdbcType=CHAR}, #{fMan,jdbcType=CHAR}, 
      #{fTel,jdbcType=CHAR}, #{fMobile,jdbcType=CHAR}, #{fBp,jdbcType=CHAR}, #{fEmail,jdbcType=CHAR}, 
      #{fPad1,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fName != null">
        F_NAME,
      </if>
      <if test="fAddr != null">
        F_ADDR,
      </if>
      <if test="fMan != null">
        F_MAN,
      </if>
      <if test="fTel != null">
        F_TEL,
      </if>
      <if test="fMobile != null">
        F_MOBILE,
      </if>
      <if test="fBp != null">
        F_BP,
      </if>
      <if test="fEmail != null">
        F_EMAIL,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=CHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=CHAR},
      </if>
      <if test="fAddr != null">
        #{fAddr,jdbcType=CHAR},
      </if>
      <if test="fMan != null">
        #{fMan,jdbcType=CHAR},
      </if>
      <if test="fTel != null">
        #{fTel,jdbcType=CHAR},
      </if>
      <if test="fMobile != null">
        #{fMobile,jdbcType=CHAR},
      </if>
      <if test="fBp != null">
        #{fBp,jdbcType=CHAR},
      </if>
      <if test="fEmail != null">
        #{fEmail,jdbcType=CHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_factory
    <set>
      <if test="fName != null">
        F_NAME = #{fName,jdbcType=CHAR},
      </if>
      <if test="fAddr != null">
        F_ADDR = #{fAddr,jdbcType=CHAR},
      </if>
      <if test="fMan != null">
        F_MAN = #{fMan,jdbcType=CHAR},
      </if>
      <if test="fTel != null">
        F_TEL = #{fTel,jdbcType=CHAR},
      </if>
      <if test="fMobile != null">
        F_MOBILE = #{fMobile,jdbcType=CHAR},
      </if>
      <if test="fBp != null">
        F_BP = #{fBp,jdbcType=CHAR},
      </if>
      <if test="fEmail != null">
        F_EMAIL = #{fEmail,jdbcType=CHAR},
      </if>
      <if test="fPad1 != null">
        F_PAD1 = #{fPad1,jdbcType=CHAR},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update t_factory
    set F_NAME = #{fName,jdbcType=CHAR},
      F_ADDR = #{fAddr,jdbcType=CHAR},
      F_MAN = #{fMan,jdbcType=CHAR},
      F_TEL = #{fTel,jdbcType=CHAR},
      F_MOBILE = #{fMobile,jdbcType=CHAR},
      F_BP = #{fBp,jdbcType=CHAR},
      F_EMAIL = #{fEmail,jdbcType=CHAR},
      F_PAD1 = #{fPad1,jdbcType=CHAR}
    where F_ID = #{fId,jdbcType=CHAR}
  </update>

</mapper>
