<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_ID" jdbcType="CHAR" property="fId" />
    <result column="F_NAME" jdbcType="CHAR" property="fName" />
    <result column="F_PHASE" jdbcType="CHAR" property="fPhase" />
    <result column="f_type" jdbcType="VARCHAR" property="fType" />
    <result column="F_STATE" jdbcType="CHAR" property="fState" />
    <result column="F_INFO" jdbcType="CHAR" property="fInfo" />
    <result column="F_TIME1" jdbcType="CHAR" property="fTime1" />
    <result column="F_TIME2" jdbcType="CHAR" property="fTime2" />
    <result column="F_DAYNUM1" jdbcType="CHAR" property="fDaynum1" />
    <result column="F_DAYNUM2" jdbcType="CHAR" property="fDaynum2" />
    <result column="F_USER" jdbcType="CHAR" property="fUser" />
    <result column="F_OBJ1" jdbcType="CHAR" property="fObj1" />
    <result column="F_OBJ2" jdbcType="CHAR" property="fObj2" />
    <result column="F_FILE1" jdbcType="CHAR" property="fFile1" />
    <result column="F_FILENAME1" jdbcType="CHAR" property="fFilename1" />
    <result column="F_FILE2" jdbcType="CHAR" property="fFile2" />
    <result column="F_FILENAME2" jdbcType="CHAR" property="fFilename2" />
    <result column="F_FILE3" jdbcType="CHAR" property="fFile3" />
    <result column="F_FILENAME3" jdbcType="CHAR" property="fFilename3" />
    <result column="F_FILE4" jdbcType="CHAR" property="fFile4" />
    <result column="F_FILENAME4" jdbcType="CHAR" property="fFilename4" />
    <result column="F_FILE5" jdbcType="CHAR" property="fFile5" />
    <result column="F_FILENAME5" jdbcType="CHAR" property="fFilename5" />
    <result column="F_VALID" jdbcType="CHAR" property="fValid" />
    <result column="F_PAD1" jdbcType="CHAR" property="fPad1" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_project (F_ID, F_NAME, F_PHASE, f_type, 
      F_STATE, F_INFO, F_TIME1, F_TIME2, 
      F_DAYNUM1, F_DAYNUM2, F_USER, F_OBJ1, 
      F_OBJ2, F_FILE1, F_FILENAME1, F_FILE2, 
      F_FILENAME2, F_FILE3, F_FILENAME3, 
      F_FILE4, F_FILENAME4, F_FILE5, 
      F_FILENAME5, F_VALID, F_PAD1)
    values (#{fId,jdbcType=CHAR}, #{fName,jdbcType=CHAR}, #{fPhase,jdbcType=CHAR}, #{fType,jdbcType=VARCHAR}, 
      #{fState,jdbcType=CHAR}, #{fInfo,jdbcType=CHAR}, #{fTime1,jdbcType=CHAR}, #{fTime2,jdbcType=CHAR}, 
      #{fDaynum1,jdbcType=CHAR}, #{fDaynum2,jdbcType=CHAR}, #{fUser,jdbcType=CHAR}, #{fObj1,jdbcType=CHAR}, 
      #{fObj2,jdbcType=CHAR}, #{fFile1,jdbcType=CHAR}, #{fFilename1,jdbcType=CHAR}, #{fFile2,jdbcType=CHAR}, 
      #{fFilename2,jdbcType=CHAR}, #{fFile3,jdbcType=CHAR}, #{fFilename3,jdbcType=CHAR}, 
      #{fFile4,jdbcType=CHAR}, #{fFilename4,jdbcType=CHAR}, #{fFile5,jdbcType=CHAR}, 
      #{fFilename5,jdbcType=CHAR}, #{fValid,jdbcType=CHAR}, #{fPad1,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fName != null">
        F_NAME,
      </if>
      <if test="fPhase != null">
        F_PHASE,
      </if>
      <if test="fType != null">
        f_type,
      </if>
      <if test="fState != null">
        F_STATE,
      </if>
      <if test="fInfo != null">
        F_INFO,
      </if>
      <if test="fTime1 != null">
        F_TIME1,
      </if>
      <if test="fTime2 != null">
        F_TIME2,
      </if>
      <if test="fDaynum1 != null">
        F_DAYNUM1,
      </if>
      <if test="fDaynum2 != null">
        F_DAYNUM2,
      </if>
      <if test="fUser != null">
        F_USER,
      </if>
      <if test="fObj1 != null">
        F_OBJ1,
      </if>
      <if test="fObj2 != null">
        F_OBJ2,
      </if>
      <if test="fFile1 != null">
        F_FILE1,
      </if>
      <if test="fFilename1 != null">
        F_FILENAME1,
      </if>
      <if test="fFile2 != null">
        F_FILE2,
      </if>
      <if test="fFilename2 != null">
        F_FILENAME2,
      </if>
      <if test="fFile3 != null">
        F_FILE3,
      </if>
      <if test="fFilename3 != null">
        F_FILENAME3,
      </if>
      <if test="fFile4 != null">
        F_FILE4,
      </if>
      <if test="fFilename4 != null">
        F_FILENAME4,
      </if>
      <if test="fFile5 != null">
        F_FILE5,
      </if>
      <if test="fFilename5 != null">
        F_FILENAME5,
      </if>
      <if test="fValid != null">
        F_VALID,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=CHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=CHAR},
      </if>
      <if test="fPhase != null">
        #{fPhase,jdbcType=CHAR},
      </if>
      <if test="fType != null">
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fState != null">
        #{fState,jdbcType=CHAR},
      </if>
      <if test="fInfo != null">
        #{fInfo,jdbcType=CHAR},
      </if>
      <if test="fTime1 != null">
        #{fTime1,jdbcType=CHAR},
      </if>
      <if test="fTime2 != null">
        #{fTime2,jdbcType=CHAR},
      </if>
      <if test="fDaynum1 != null">
        #{fDaynum1,jdbcType=CHAR},
      </if>
      <if test="fDaynum2 != null">
        #{fDaynum2,jdbcType=CHAR},
      </if>
      <if test="fUser != null">
        #{fUser,jdbcType=CHAR},
      </if>
      <if test="fObj1 != null">
        #{fObj1,jdbcType=CHAR},
      </if>
      <if test="fObj2 != null">
        #{fObj2,jdbcType=CHAR},
      </if>
      <if test="fFile1 != null">
        #{fFile1,jdbcType=CHAR},
      </if>
      <if test="fFilename1 != null">
        #{fFilename1,jdbcType=CHAR},
      </if>
      <if test="fFile2 != null">
        #{fFile2,jdbcType=CHAR},
      </if>
      <if test="fFilename2 != null">
        #{fFilename2,jdbcType=CHAR},
      </if>
      <if test="fFile3 != null">
        #{fFile3,jdbcType=CHAR},
      </if>
      <if test="fFilename3 != null">
        #{fFilename3,jdbcType=CHAR},
      </if>
      <if test="fFile4 != null">
        #{fFile4,jdbcType=CHAR},
      </if>
      <if test="fFilename4 != null">
        #{fFilename4,jdbcType=CHAR},
      </if>
      <if test="fFile5 != null">
        #{fFile5,jdbcType=CHAR},
      </if>
      <if test="fFilename5 != null">
        #{fFilename5,jdbcType=CHAR},
      </if>
      <if test="fValid != null">
        #{fValid,jdbcType=CHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

</mapper>
