<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ptrans">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_DATE" jdbcType="VARCHAR" property="fDate" />
    <result column="F_TIME" jdbcType="VARCHAR" property="fTime" />
    <result column="F_DEVID" jdbcType="VARCHAR" property="fDevid" />
    <result column="F_DEPT" jdbcType="VARCHAR" property="fDept" />
    <result column="F_TRCD" jdbcType="VARCHAR" property="fTrcd" />
    <result column="F_ACNO" jdbcType="VARCHAR" property="fAcno" />
    <result column="F_ACNO2" jdbcType="VARCHAR" property="fAcno2" />
    <result column="F_TRAM" jdbcType="DECIMAL" property="fTram" />
    <result column="F_FEE" jdbcType="DECIMAL" property="fFee" />
    <result column="F_DEVLS" jdbcType="VARCHAR" property="fDevls" />
    <result column="F_RETNO" jdbcType="VARCHAR" property="fRetno" />
    <result column="F_STCD" jdbcType="VARCHAR" property="fStcd" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_ptrans (F_DATE, F_TIME, F_DEVID, 
      F_DEPT, F_TRCD, F_ACNO, 
      F_ACNO2, F_TRAM, F_FEE, 
      F_DEVLS, F_RETNO, F_STCD, 
      F_PAD1)
    values (#{fDate,jdbcType=VARCHAR}, #{fTime,jdbcType=VARCHAR}, #{fDevid,jdbcType=VARCHAR}, 
      #{fDept,jdbcType=VARCHAR}, #{fTrcd,jdbcType=VARCHAR}, #{fAcno,jdbcType=VARCHAR}, 
      #{fAcno2,jdbcType=VARCHAR}, #{fTram,jdbcType=DECIMAL}, #{fFee,jdbcType=DECIMAL}, 
      #{fDevls,jdbcType=VARCHAR}, #{fRetno,jdbcType=VARCHAR}, #{fStcd,jdbcType=VARCHAR}, 
      #{fPad1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_ptrans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        F_DATE,
      </if>
      <if test="fTime != null">
        F_TIME,
      </if>
      <if test="fDevid != null">
        F_DEVID,
      </if>
      <if test="fDept != null">
        F_DEPT,
      </if>
      <if test="fTrcd != null">
        F_TRCD,
      </if>
      <if test="fAcno != null">
        F_ACNO,
      </if>
      <if test="fAcno2 != null">
        F_ACNO2,
      </if>
      <if test="fTram != null">
        F_TRAM,
      </if>
      <if test="fFee != null">
        F_FEE,
      </if>
      <if test="fDevls != null">
        F_DEVLS,
      </if>
      <if test="fRetno != null">
        F_RETNO,
      </if>
      <if test="fStcd != null">
        F_STCD,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        #{fDate,jdbcType=VARCHAR},
      </if>
      <if test="fTime != null">
        #{fTime,jdbcType=VARCHAR},
      </if>
      <if test="fDevid != null">
        #{fDevid,jdbcType=VARCHAR},
      </if>
      <if test="fDept != null">
        #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fTrcd != null">
        #{fTrcd,jdbcType=VARCHAR},
      </if>
      <if test="fAcno != null">
        #{fAcno,jdbcType=VARCHAR},
      </if>
      <if test="fAcno2 != null">
        #{fAcno2,jdbcType=VARCHAR},
      </if>
      <if test="fTram != null">
        #{fTram,jdbcType=DECIMAL},
      </if>
      <if test="fFee != null">
        #{fFee,jdbcType=DECIMAL},
      </if>
      <if test="fDevls != null">
        #{fDevls,jdbcType=VARCHAR},
      </if>
      <if test="fRetno != null">
        #{fRetno,jdbcType=VARCHAR},
      </if>
      <if test="fStcd != null">
        #{fStcd,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>
