<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="queuetype">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_DEPT" jdbcType="VARCHAR" property="fDept" />
    <id column="F_QUETYPE" jdbcType="VARCHAR" property="fQuetype" />
    <result column="F_NAME" jdbcType="VARCHAR" property="fName" />
    <result column="F_LEVEL" jdbcType="VARCHAR" property="fLevel" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />
  </resultMap>
  <sql id="Base_Column_List">
    F_DEPT, F_QUETYPE, F_NAME, F_LEVEL, F_PAD1
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_queuetype
    <where>
      <if test="fDept != null">
      F_DEPT = #{fDept,jdbcType=VARCHAR}
      </if>
      <if test="fQueuetype != null">
        and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_queuetype
    where F_DEPT = #{fDept,jdbcType=VARCHAR}
      and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
  </delete>
  <insert id="insertBatch" parameterType="map">
    INSERT INTO t_queuetype
    SELECT #{fDept},F_QUETYPE, F_NAME,
          F_LEVEL, F_PAD1
      FROM t_queuetype
      WHERE F_DEPT = '0000'
  </insert>
  <insert id="insert" parameterType="map">
    insert into t_queuetype (F_DEPT, F_QUETYPE, F_NAME, 
      F_LEVEL, F_PAD1)
    values (#{fDept,jdbcType=VARCHAR}, #{fQuetype,jdbcType=VARCHAR}, #{fName,jdbcType=VARCHAR}, 
      #{fLevel,jdbcType=VARCHAR}, #{fPad1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_queuetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDept != null">
        F_DEPT,
      </if>
      <if test="fQuetype != null">
        F_QUETYPE,
      </if>
      <if test="fName != null">
        F_NAME,
      </if>
      <if test="fLevel != null">
        F_LEVEL,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fDept != null">
        #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fQuetype != null">
        #{fQuetype,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_queuetype
    <set>
      <if test="fDept != null">
        F_DEPT = #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fQuetype != null">
        F_QUETYPE = #{fQuetype,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        F_NAME = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        F_LEVEL = #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        F_PAD1 = #{fPad1,jdbcType=VARCHAR},
      </if>
    </set>
    where F_DEPT = #{ofDept,jdbcType=VARCHAR}
      and F_QUETYPE = #{ofQuetype,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update t_queuetype
    set F_NAME = #{fName,jdbcType=VARCHAR},
      F_LEVEL = #{fLevel,jdbcType=VARCHAR},
      F_PAD1 = #{fPad1,jdbcType=VARCHAR}
    where F_DEPT = #{fDept,jdbcType=VARCHAR}
      and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
  </update>


</mapper>
