<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sz">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_INFO1" jdbcType="VARCHAR" property="fInfo1" />
    <result column="F_INFO2" jdbcType="VARCHAR" property="fInfo2" />
    <result column="F_INFO3" jdbcType="VARCHAR" property="fInfo3" />
    <result column="F_INFO4" jdbcType="VARCHAR" property="fInfo4" />
    <result column="F_INFO5" jdbcType="VARCHAR" property="fInfo5" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_sz (F_INFO1, F_INFO2, F_INFO3, 
      F_INFO4, F_INFO5)
    values (#{fInfo1,jdbcType=VARCHAR}, #{fInfo2,jdbcType=VARCHAR}, #{fInfo3,jdbcType=VARCHAR}, 
      #{fInfo4,jdbcType=VARCHAR}, #{fInfo5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_sz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fInfo1 != null">
        F_INFO1,
      </if>
      <if test="fInfo2 != null">
        F_INFO2,
      </if>
      <if test="fInfo3 != null">
        F_INFO3,
      </if>
      <if test="fInfo4 != null">
        F_INFO4,
      </if>
      <if test="fInfo5 != null">
        F_INFO5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fInfo1 != null">
        #{fInfo1,jdbcType=VARCHAR},
      </if>
      <if test="fInfo2 != null">
        #{fInfo2,jdbcType=VARCHAR},
      </if>
      <if test="fInfo3 != null">
        #{fInfo3,jdbcType=VARCHAR},
      </if>
      <if test="fInfo4 != null">
        #{fInfo4,jdbcType=VARCHAR},
      </if>
      <if test="fInfo5 != null">
        #{fInfo5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>
