<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tj1trans">
  <resultMap id="BaseResultMap" type="map">
    <result column="F_DATE" jdbcType="CHAR" property="fDate" />
    <result column="F_DEVID" jdbcType="CHAR" property="fDevid" />
    <result column="F_ASSERTS" jdbcType="CHAR" property="fAsserts" />
    <result column="F_DEPT" jdbcType="CHAR" property="fDept" />
    <result column="F_DEPT1" jdbcType="CHAR" property="fDept1" />
    <result column="F_DEPT3" jdbcType="CHAR" property="fDept3" />
    <result column="F_LOGVER" jdbcType="INTEGER" property="fLogver" />
    <result column="F_IDTYPE" jdbcType="CHAR" property="fIdtype" />
    <result column="F_TRCD" jdbcType="CHAR" property="fTrcd" />
    <result column="F_FLAG" jdbcType="CHAR" property="fFlag" />
    <result column="F_SUC_N" jdbcType="INTEGER" property="fSucN" />
    <result column="F_SUC_M" jdbcType="DOUBLE" property="fSucM" />
    <result column="F_FAL_N" jdbcType="INTEGER" property="fFalN" />
    <result column="F_FAL_M" jdbcType="DOUBLE" property="fFalM" />
    <result column="F_PROFIT" jdbcType="DOUBLE" property="fProfit" />
    <result column="F_PAD_N" jdbcType="INTEGER" property="fPadN" />
    <result column="F_PAD_M" jdbcType="DOUBLE" property="fPadM" />
  </resultMap>
  <insert id="insert" parameterType="map">
    insert into t_tj1trans (F_DATE, F_DEVID, F_ASSERTS, 
      F_DEPT, F_DEPT1, F_DEPT3, F_LOGVER, 
      F_IDTYPE, F_TRCD, F_FLAG, F_SUC_N, 
      F_SUC_M, F_FAL_N, F_FAL_M, 
      F_PROFIT, F_PAD_N, F_PAD_M
      )
    values (#{fDate,jdbcType=CHAR}, #{fDevid,jdbcType=CHAR}, #{fAsserts,jdbcType=CHAR}, 
      #{fDept,jdbcType=CHAR}, #{fDept1,jdbcType=CHAR}, #{fDept3,jdbcType=CHAR}, #{fLogver,jdbcType=INTEGER}, 
      #{fIdtype,jdbcType=CHAR}, #{fTrcd,jdbcType=CHAR}, #{fFlag,jdbcType=CHAR}, #{fSucN,jdbcType=INTEGER}, 
      #{fSucM,jdbcType=DOUBLE}, #{fFalN,jdbcType=INTEGER}, #{fFalM,jdbcType=DOUBLE}, 
      #{fProfit,jdbcType=DOUBLE}, #{fPadN,jdbcType=INTEGER}, #{fPadM,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into t_tj1trans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        F_DATE,
      </if>
      <if test="fDevid != null">
        F_DEVID,
      </if>
      <if test="fAsserts != null">
        F_ASSERTS,
      </if>
      <if test="fDept != null">
        F_DEPT,
      </if>
      <if test="fDept1 != null">
        F_DEPT1,
      </if>
      <if test="fDept3 != null">
        F_DEPT3,
      </if>
      <if test="fLogver != null">
        F_LOGVER,
      </if>
      <if test="fIdtype != null">
        F_IDTYPE,
      </if>
      <if test="fTrcd != null">
        F_TRCD,
      </if>
      <if test="fFlag != null">
        F_FLAG,
      </if>
      <if test="fSucN != null">
        F_SUC_N,
      </if>
      <if test="fSucM != null">
        F_SUC_M,
      </if>
      <if test="fFalN != null">
        F_FAL_N,
      </if>
      <if test="fFalM != null">
        F_FAL_M,
      </if>
      <if test="fProfit != null">
        F_PROFIT,
      </if>
      <if test="fPadN != null">
        F_PAD_N,
      </if>
      <if test="fPadM != null">
        F_PAD_M,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fDate != null">
        #{fDate,jdbcType=CHAR},
      </if>
      <if test="fDevid != null">
        #{fDevid,jdbcType=CHAR},
      </if>
      <if test="fAsserts != null">
        #{fAsserts,jdbcType=CHAR},
      </if>
      <if test="fDept != null">
        #{fDept,jdbcType=CHAR},
      </if>
      <if test="fDept1 != null">
        #{fDept1,jdbcType=CHAR},
      </if>
      <if test="fDept3 != null">
        #{fDept3,jdbcType=CHAR},
      </if>
      <if test="fLogver != null">
        #{fLogver,jdbcType=INTEGER},
      </if>
      <if test="fIdtype != null">
        #{fIdtype,jdbcType=CHAR},
      </if>
      <if test="fTrcd != null">
        #{fTrcd,jdbcType=CHAR},
      </if>
      <if test="fFlag != null">
        #{fFlag,jdbcType=CHAR},
      </if>
      <if test="fSucN != null">
        #{fSucN,jdbcType=INTEGER},
      </if>
      <if test="fSucM != null">
        #{fSucM,jdbcType=DOUBLE},
      </if>
      <if test="fFalN != null">
        #{fFalN,jdbcType=INTEGER},
      </if>
      <if test="fFalM != null">
        #{fFalM,jdbcType=DOUBLE},
      </if>
      <if test="fProfit != null">
        #{fProfit,jdbcType=DOUBLE},
      </if>
      <if test="fPadN != null">
        #{fPadN,jdbcType=INTEGER},
      </if>
      <if test="fPadM != null">
        #{fPadM,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

</mapper>
