<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="windquetype">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_DEPT" jdbcType="VARCHAR" property="fDept" />
    <id column="F_WINDID" jdbcType="VARCHAR" property="fWindid" />
    <id column="F_QUETYPE" jdbcType="VARCHAR" property="fQuetype" />
    <result column="F_LEVEL" jdbcType="VARCHAR" property="fLevel" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />

    <result column="F_QUETYPELIST" jdbcType="VARCHAR" property="fQuetypeList" />
    <result column="F_QUETYPELISTNAME" jdbcType="VARCHAR" property="fQuetypeListName" />

    <result column="F_ID" jdbcType="VARCHAR" property="fId" />
    <result column="F_COUNT" jdbcType="VARCHAR" property="fCount" />
    <result column="F_NUMBER" jdbcType="VARCHAR" property="fNumber" />
    <result column="F_TIME1" jdbcType="VARCHAR" property="fTime1" />
    <result column="F_TIME2" jdbcType="VARCHAR" property="fTime2" />
    <result column="F_STATE" jdbcType="VARCHAR" property="fState" />
    <result column="F_SCRNNO" jdbcType="VARCHAR" property="fScrnno" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />

    <result column="F_STATENAME" jdbcType="VARCHAR" property="fStatename" />

  </resultMap>
  <sql id="Base_Column_List">
    F_DEPT, F_WINDID, F_QUETYPE,F_LEVEL,F_PAD1
  </sql>


  <select id="selectWindAndQue" parameterType="map" resultMap="BaseResultMap">
    SELECT b.F_WINDID,b.F_QUETYPELIST,b.F_QUETYPELISTNAME,c.F_DEPT,c.F_ID,c.F_NUMBER,c.F_TIME1,c.F_TIME2,c.F_STATE,c.F_SCRNNO,c.F_PAD1,
    case F_STATE
    when 'O' then '开放'
    when 'C' then '关闭'
    when 'P' then '暂停'
    else '' end F_STATENAME
    FROM t_wind c LEFT OUTER JOIN (
    SELECT
    a.F_DEPT,
    a.F_WINDID,

    CASE a.F_LEVEL
    WHEN '' THEN LISTAGG(a.F_QUETYPE) WITHIN GROUP (ORDER BY a.F_QUETYPE)
    ELSE LISTAGG(a.F_QUETYPE||'-'||a.F_LEVEL,',') WITHIN GROUP (ORDER BY a.F_QUETYPE)
    END F_QUETYPELIST,

    CASE a.F_LEVEL
    WHEN '' THEN LISTAGG(d.F_NAME) WITHIN GROUP (ORDER BY d.F_NAME)
    ELSE LISTAGG(d.F_NAME||'-'||a.F_LEVEL,',') WITHIN GROUP (ORDER BY d.F_NAME) END F_QUETYPELISTNAME

    FROM t_windquetype a LEFT JOIN t_queuetype d ON a.F_DEPT = d.F_DEPT
    AND a.F_QUETYPE = d.F_QUETYPE
    GROUP BY a.F_DEPT, a.F_WINDID,a.F_LEVEL
    ) b
    ON b.F_DEPT = c.F_DEPT
    AND b.F_WINDID = c.F_ID
    <where>
      <if test="fDept != null">
        c.F_DEPT = #{fDept}
      </if>
    </where>
  </select>


  <select id="selectWindquetype" parameterType="map"  resultMap="BaseResultMap">
    SELECT F_DEPT,F_WINDID,group_concat(F_QUETYPE) F_QUETYPE_LIST
    FROM t_windquetype
    <where>
      <if test="fDept != null">
        F_DEPT=#{fDept}
      </if>
      <if test="fWindid != null">
        AND F_WINDID=#{fWindid}
      </if>
    </where>
    GROUP BY F_DEPT,F_WINDID
  </select>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_windquetype
    <where>
      <if test="fDept != null">
        F_DEPT = #{fDept,jdbcType=VARCHAR}
      </if>
      <if test="fWindid != null">
        and F_WINDID = #{fWindid,jdbcType=VARCHAR}
      </if>
      <if test="fQuetype != null">
        and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_windquetype
    where F_DEPT = #{fDept,jdbcType=VARCHAR}
      and F_WINDID = #{fWindid,jdbcType=VARCHAR}
      <if test="fQuetype != null">
        and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
      </if>
  </delete>
  <insert id="insert" parameterType="map">
    insert into t_windquetype (F_DEPT, F_WINDID, F_QUETYPE, 
      F_PAD1)
    values (#{fDept,jdbcType=VARCHAR}, #{fWindid,jdbcType=VARCHAR}, #{fQuetype,jdbcType=VARCHAR}, 
      #{fPad1,jdbcType=VARCHAR})
  </insert>

  <insert id="insertWindquetype" parameterType="map">
    insert into t_windquetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDept != null">
        F_DEPT,
      </if>
      <if test="fWindid != null">
        F_WINDID,
      </if>
      <if test="fQuetypeList != null">
        F_QUETYPE,
      </if>
      <if test="fLevel == null">
        F_LEVEL,
      </if>
    </trim>
    values
    <foreach collection="fQuetypeList" item="fQuetype" index="index" separator="," >
      <trim prefix=" (" suffix=")" suffixOverrides=",">
          <if test="fDept != null">
            #{fDept,jdbcType=VARCHAR},
          </if>
          <if test="fWindid != null">
            #{fWindid,jdbcType=VARCHAR},
          </if>
          <if test="fQuetype != null">
            #{fQuetype,jdbcType=VARCHAR},
          </if>
          <if test="fLevel == null">
            '',
          </if>
      </trim>
    </foreach>
  </insert>

  <insert id="insertWithZH" parameterType="map">
    INSERT INTO t_windquetype(F_DEPT,F_WINDID,F_QUETYPE,F_LEVEL)
    SELECT #{fDept},#{fWindid},F_QUETYPE,F_LEVEL
    FROM t_queuetype
    WHERE F_DEPT = (SELECT max(F_DEPT) FROM t_queuetype where F_DEPT IN ('0000',#{fDept}))
  </insert>

  <insert id="insertSelective" parameterType="map">
    insert into t_windquetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fDept != null">
        F_DEPT,
      </if>
      <if test="fWindid != null">
        F_WINDID,
      </if>
      <if test="fQuetype != null">
        F_QUETYPE,
      </if>
      <if test="fLevel != null">
        F_LEVEL,
      </if>
      <if test="fPad1 != null">
        F_PAD1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fDept != null">
        #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fWindid != null">
        #{fWindid,jdbcType=VARCHAR},
      </if>
      <if test="fQuetype != null">
        #{fQuetype,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        #{fPad1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update t_windquetype
    <set>
      <if test="fDept != null">
        F_DEPT = #{fDept,jdbcType=VARCHAR},
      </if>
      <if test="fWindid != null">
        F_WINDID = #{fWindid,jdbcType=VARCHAR},
      </if>
      <if test="fQuetype != null">
        F_QUETYPE = #{fQuetype,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null">
        F_LEVEL = #{fLevel,jdbcType=VARCHAR},
      </if>
      <if test="fPad1 != null">
        F_PAD1 = #{fPad1,jdbcType=VARCHAR},
      </if>
    </set>
    where F_DEPT = #{ofDept,jdbcType=VARCHAR}
      and F_WINDID = #{ofWindid,jdbcType=VARCHAR}
      and F_QUETYPE = #{ofQuetype,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update t_windquetype
    set F_PAD1 = #{fPad1,jdbcType=VARCHAR}
    where F_DEPT = #{fDept,jdbcType=VARCHAR}
      and F_WINDID = #{fWindid,jdbcType=VARCHAR}
      and F_QUETYPE = #{fQuetype,jdbcType=VARCHAR}
  </update>

</mapper>
