<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="runSingle">
  <resultMap id="BaseResultMap" type="map">
    <id column="F_DATE" jdbcType="VARCHAR" property="fDate" />
    <id column="F_DEPT" jdbcType="VARCHAR" property="fDept" />
    <id column="F_NUMBER" jdbcType="VARCHAR" property="fNumber" />
    <result column="F_NUMBER1" jdbcType="VARCHAR" property="fNumber1" />
    <result column="F_DEVID" jdbcType="VARCHAR" property="fDevid" />
    <result column="F_TIME" jdbcType="VARCHAR" property="fTime" />
    <result column="F_TIME1" jdbcType="VARCHAR" property="fTime1" />
    <result column="F_TIME2" jdbcType="VARCHAR" property="fTime2" />
    <result column="F_TIME3" jdbcType="VARCHAR" property="fTime3" />
    <result column="F_WAITTIME" jdbcType="INTEGER" property="fWaittime" />
    <result column="F_BUSITIME" jdbcType="INTEGER" property="fBusitime" />
    <result column="F_ACNO" jdbcType="VARCHAR" property="fAcno" />
    <result column="F_IDNO" jdbcType="VARCHAR" property="fIdno" />
    <result column="F_CUSTNAME" jdbcType="VARCHAR" property="fCustname" />
    <result column="F_CUSTTYPE" jdbcType="VARCHAR" property="fCusttype" />
    <result column="F_CUSTLEVEL" jdbcType="VARCHAR" property="fCustlevel" />
    <result column="F_MENUTYPE" jdbcType="VARCHAR" property="fMenutype" />
    <result column="F_TRTP" jdbcType="VARCHAR" property="fTrtp" />

    <result column="F_NAME" jdbcType="VARCHAR" property="fName" />

    <result column="F_DEVLS" jdbcType="VARCHAR" property="fDevls" />
    <result column="F_SERIAL" jdbcType="VARCHAR" property="fSerial" />
    <result column="F_SOURCE" jdbcType="VARCHAR" property="fSource" />
    <result column="F_CALLTYPE" jdbcType="VARCHAR" property="fCalltype" />
    <result column="F_OPERATOR" jdbcType="VARCHAR" property="fOperator" />
    <result column="F_WINDID" jdbcType="VARCHAR" property="fWindid" />
    <result column="F_EVALUATE" jdbcType="VARCHAR" property="fEvaluate" />
    <result column="F_DONE" jdbcType="VARCHAR" property="fDone" />
    <result column="F_PAD1" jdbcType="VARCHAR" property="fPad1" />

    <result column="WDNAME" jdbcType="VARCHAR" property="fWdname" />
    <result column="ZHNAME" jdbcType="VARCHAR" property="fZhname" />
    <result column="FHNAME" jdbcType="VARCHAR" property="fFhname" />

	<!--20171020 新增-->
	<result column="WDID" jdbcType="VARCHAR" property="fWdid" />
	<result column="ZHID" jdbcType="VARCHAR" property="fZhid" />
	<result column="F_TYPE" jdbcType="VARCHAR" property="fType" />
	<result column="WDID" jdbcType="VARCHAR" property="fWdid" />
	<result column="F_TKJ5" jdbcType="VARCHAR" property="fTkj5" />
	<result column="F_TKJ4" jdbcType="VARCHAR" property="fTkj4" />
	<result column="F_TKJ6" jdbcType="VARCHAR" property="fTkj6" />
  <result column="F_TKJ7" jdbcType="VARCHAR" property="fTkj7" />
	<result column="F_SPC" jdbcType="VARCHAR" property="fSpc" />
	<result column="DEVID" jdbcType="VARCHAR" property="fDevid" />
	<result column="SJKJ" jdbcType="VARCHAR" property="fSjkj" />
	<result column="RJKJ" jdbcType="VARCHAR" property="fRjkj" />
	<result column="F_ID" jdbcType="VARCHAR" property="fId" />
	<result column="F_MARK" jdbcType="VARCHAR" property="fMark" />
	<result column="F_TKJALL" jdbcType="VARCHAR" property="fTkjall" />
	<result column="PM" jdbcType="VARCHAR" property="fPm" />
	<result column="INSTSTYLE" jdbcType="VARCHAR" property="fInststyle" />
  </resultMap>
  <sql id="Base_Column_List">
    F_DATE, a.F_DEPT, F_NUMBER, F_NUMBER1, F_DEVID, F_TIME, F_TIME1, F_TIME2, F_TIME3,
    F_WAITTIME, F_BUSITIME, F_ACNO, F_IDNO, F_CUSTNAME, F_CUSTTYPE, F_CUSTLEVEL, F_MENUTYPE, 
    F_TRTP, F_DEVLS, F_SERIAL, F_SOURCE, F_CALLTYPE, F_OPERATOR, F_WINDID, F_EVALUATE, 
    F_DONE,

    CASE F_CUSTTYPE
    WHEN 'V' THEN 'VIP客户'
    WHEN 'C' THEN '普通客户'
    WHEN 'N' THEN '新入网'
    ELSE '' END fCusttypename,

    CASE F_MENUTYPE
    WHEN '1' THEN '全球通'
    WHEN '2' THEN '神州行'
    WHEN '3' THEN '动感地带'
    ELSE '' END fMenutypename,

    F_CUSTLEVEL+'级' fCustlevelname,

    CASE F_SOURCE
    WHEN 'a' THEN '现场取号'
    WHEN 'b' THEN '预约取号'
    WHEN 'z' THEN '其他'
    ELSE '' END fSourcename,

    CASE F_CALLTYPE
    WHEN '1' THEN '第一次叫号'
    WHEN '2' THEN '重叫'
    WHEN '0' THEN '优先叫号'
    ELSE '' END fCalltypename,

    CASE F_EVALUATE
    WHEN '1' THEN '不满意'
    WHEN '2' THEN '一般'
    WHEN '3' THEN '满意'
    ELSE '' END fEvaluatename,

    CASE F_DONE
    WHEN '0' THEN '取号'
    WHEN '1' THEN '已叫号'
    WHEN '2' THEN '交易结束'
    WHEN '3' THEN '过号作废'
    WHEN '4' THEN '调号后原号作废'
    ELSE '' END fDonename
  </sql>
  <!-- dev run nomally statistic(single) -->
  <select id="selectRunSingle" parameterType="map" resultMap="BaseResultMap">
	SELECT
      CONCAT('',cast(A.F_TKJALL DIV 60 AS CHAR),'时',cast(A.F_TKJALL MOD 60 AS CHAR),'分') F_TKJALL,
      CONCAT('',cast(A.F_TKJ4 DIV 60 AS CHAR),'时',cast(A.F_TKJ4 MOD 60 AS CHAR),'分') F_TKJ4,
      CONCAT('',cast(A.F_TKJ5 DIV 60 AS CHAR),'时',cast(A.F_TKJ5 MOD 60 AS CHAR),'分') F_TKJ5,
      CONCAT('',cast(A.F_TKJ6 DIV 60 AS CHAR),'时',cast(A.F_TKJ6 MOD 60 AS CHAR),'分') F_TKJ6,
      CONCAT('',cast(A.SJKJ DIV 60 AS CHAR),'时',cast(A.SJKJ MOD 60 AS CHAR),'分') SJKJ,
      CONCAT('',cast(A.RJKJ DIV 60 AS CHAR),'时',cast(CAST(A.RJKJ as SIGNED) MOD 60 AS CHAR),'分') RJKJ,
      A.KJL,
      A.PM,A.DEVID,A.F_ID,
      A.FHNAME,A.ZHNAME,A.WDNAME,A.F_TYPE,A.INSTSTYLE,A.F_MARK,A.F_SPC FROM
				    	(
      SELECT SUM(E.F_TKJALL) F_TKJALL,SUM(E.F_TKJ4) F_TKJ4,SUM(E.F_TKJ5) F_TKJ5,SUM(E.F_TKJ6) F_TKJ6,(SUM(E.F_TKJ0)+SUM(E.F_TKJ1)+SUM(E.F_TKJ7)+SUM(E.F_TKJ8)+SUM(E.F_TKJ9)) SJKJ,
						  ROUND(CAST(((SUM(E.F_TKJ0)+SUM(E.F_TKJ1)+SUM(E.F_TKJ7)+SUM(E.F_TKJ8)+SUM(E.F_TKJ9))*1.0/SUM(E.F_TKJALL))*100 AS DECIMAL(10,2)),2)||'%' KJL,
						  ROUND(CAST(((SUM(E.F_TKJ0)+SUM(E.F_TKJ1)+SUM(E.F_TKJ7)+SUM(E.F_TKJ8)+SUM(E.F_TKJ9))*1.0/SUM(E.F_TKJALL))*100 AS DECIMAL(10,2)),2) PM,
						  ROUND(CAST(((SUM(E.F_TKJ0)+SUM(E.F_TKJ1)+SUM(E.F_TKJ7)+SUM(E.F_TKJ8)+SUM(E.F_TKJ9))*1.0/COUNT(DISTINCT E.F_DATE)) AS DECIMAL(10,2)),2) RJKJ,
						  E.F_DEVID AS DEVID,A.F_ID AS F_ID,
    D.F_NAME WDNAME,
    C.F_NAME ZHNAME,
    B.F_NAME FHNAME,
      A.F_TYPE AS F_TYPE,Z.F_NAME AS INSTSTYLE,A.F_MARK AS F_MARK,A.F_SPC AS F_SPC
              FROM t_tj1kj E,t_branch B,t_branch C,t_branch D,t_dev A
						  LEFT OUTER JOIN t_codes Z ON A.F_INSTSTYLE = Z.F_ID AND Z.F_CATID = 'C5'

	<where>
    E.F_DEVID=A.F_ID AND E.F_TKJBAD=1

    AND A.F_DEPT=D.F_ID AND D.F_DEPT=C.F_ID AND C.F_DEPT =B.F_ID
		<if test="fDeptid !=null "><!-- sqlcond1-->
	       AND D.F_DEPTID LIKE concat(#{fDeptid},'%')
    </if>

		<if test="fDateStart != null and fDateEnd != null">
			AND E.F_DATE&gt;=#{fDateStart} AND E.F_DATE&lt;=#{fDateEnd}
		</if>

		<if test="fMoneyDev == '1'">
			AND A.F_MONEYDEV='1'
		</if>
		<if test="fMoneyDev == '0'">
			AND A.F_MONEYDEV='0'
		</if>
	</where>
		GROUP BY E.F_DEVID,A.F_INSTSTYLE,A.F_STYLE,A.F_ID,A.F_MARK,A.F_SPC,B.F_NAME,C.F_NAME,D.F_NAME,A.F_TYPE,Z.F_NAME,C.F_ID,D.F_ID) A ORDER BY A.PM DESC,A.DEVID
  </select>
</mapper>